{% extends 'base.html' %}
{% block title %}Secret Page{% endblock %}

{% block content %}

  <h1 class="display-4">Welcome to the Chamber of Secrets!</h1>

  <img src="https://media.giphy.com/media/AFZgmywhfOhiw/giphy.gif">

  <p class="lead">You made it!</p>

  <p>{{ user.username }}</p>
  <p>{{ user.email }}</p>
  <p>{{ user.first_name }}</p>
  <p>{{ user.last_name }}</p>

  <h2>Notes</h2>

  <form action="/users/{{user.username}}/notes/add" method = "GET">
    <button type="submit">Add note</button>
  </form>

  <ul>
    {% for note in user.notes %}
    <li>
      <p><b>{{note.title}}</b></p>
      <p>{{ note.content }}</p>
      <form action="/notes/{{ note.id }}/update" method = "GET">
        <button type="submit">Update</button>
      </form>
      <form action="/notes/{{ note.id }}/delete" method = "POST">
        {{form.hidden_tag()}}
        <button type="submit">Delete</button>
      </form>
    </li>
    {% endfor %}
  </ul>

  <form action="/logout" method="POST">
    {{form.hidden_tag()}}
    <button type="submit">Logout</button>
  </form>

  <form action="/users/{{user.username}}/delete" method="POST">
    {{form.hidden_tag()}}
    <button type="submit">Delete User</button>
  </form>

{% endblock %}
